.settingsButtonContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  background-color: rgba(217, 217, 217, 0.6);
  border-radius: 30px;
  padding: 4px;
  margin-right: 0.5rem;
  padding-left: 12px;
  padding-right: 10px;
  color: #9c9fa1;
}

.settingsButtonContainer > .MuiSvgIcon-root {
  color: #9c9fa1;
  font-size: 22px;
  margin-left: 4px;
}
