.buttonWrapperSmall {
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: var(--main-blue);
  padding: 0.25rem;
  max-width: max-content;
}

.buttonWrapperBig {
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: var(--main-blue);
  padding: 0.25rem;
  width: 5rem;
}

.buttonTextSmall {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.buttonTextBig {
  color: var(--white);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}