.homeWrapper {
  display: flex;
  background-color: var(--sub-blue);
  width: 100dvw;
  height: 64vh;
  justify-content: center;
}

.homeContainer {
  display: flex;
  width: 1340px;
  justify-content: center;
  background-color: var(--sub-black);
}

.homeLeft {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  width: 50%;
  background-color: var(--sub--black);
}

.homeTitle {
  color: var(--font-grey);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  text-align: start;
  line-height: 55px;
}

.homeText {
  margin: 0.8rem 0rem 0.8rem 0rem;
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 40;
  font-size: 15px;
  text-align: start;
  letter-spacing: 0.01em;
  line-height: 18px;
  max-width: 540px;
  letter-spacing: 1.5px;
}

.homeButtonContainer {
  margin-left: 1rem;
}

.homeRight {
  margin-top: 0.25rem;
  width: 65%;
}

.homeRight > img {
  max-width: 100%;
}
