.brightstream-icon-container {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 48px;
    top: 5px;
}

.nav-brand {
    position: absolute;
    width: 133px;
    height: 24px;
    left: 129px;
    top: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #3B6FF4;
}

.nav-bar-options {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #000000;
}

.nav-bar-options #class-option {
    position: absolute;
    width: 42px;
    height: 18px;
    left: 308px;
    top: 26px; 
}

.nav-bar-options #schedule-option {
    position: absolute;
    width: 70px;
    height: 18px;
    left: 370px;
    top: 26px;
}

.nav-bar-options #collaborate-option {
    position: absolute;
    width: 87px;
    height: 18px;
    left: 460px;
    top: 26px;
}

.nav-bar-options #quiz-option {
    position: absolute;
    width: 35px;
    height: 18px;
    left: 567px;
    top: 26px;
}

.nav-bar-options #privacy-option {
    position: absolute;
    width: 56px;
    height: 18px;
    left: 622px;
    top: 26px;
}

.justify-content-end #login-option {
    position: absolute;
    width: 45px;
    height: 18px;
    left: 1219px;
    top: 26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: #000000;
}

.justify-content-end .navbar-gs-component {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1286px;
    top: 15px;
}

.justify-content-end .navbar-gs-component #gs-rect {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #3B6FF4;
    border-radius: 180px;
}

.justify-content-end .navbar-gs-component #gs-option {
    position: absolute;
    left: 17.69%;
    right: 16.92%;
    top: 27.5%;
    bottom: 27.5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}