.dashBoardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashBoardContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.dashBoardMain {
  height: 100%;
  width: 100%;
  background-color: var(--sub-blue);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashBoardTitle {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}

.streamContainer {
  width: 100%;
  height: 60%;
}

.dashBoardChatContainer {
  width: 7.5rem;
  max-width: 7.5rem;
  min-width: 7.5rem;
}

.dashBoardChatTitle {
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
}
