.minsideBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  width:  60px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.minsideBarWrapperClosed {
  transition:width 0.3s ease-in-out;
  width: 60px;
}
.minsideBarLogo {
  display: flex;
  width: 80%;
  height: 1.0rem;
  padding: 6px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 0.2rem;

}

#collapseIcon {
  color: var(--main-blue);
  font-size: 36px;
  align-items: right;
}

.minsideBarLogo > .MuiSvgIcon-root {
  color: rgba(59, 111, 244, 0.63);
  font-size: 1rem;
}

.minsideBarLogo > .MuiSvgIcon-root:hover {
  font-weight: 900;
}

.minsideBarIconWrapper {
  display: flex;
  width: 1rem;
  height: 1rem;
  padding: 1px;
  border-radius: 0px;
  align-content: center;
  align-items:flex-start;
  margin-bottom: 0rem;
  margin-left:0rem;
}

.minsideBarIconWrapper:hover {
  background-color: rgba(59, 111, 244, 0.28);
  transition: 0.15s;
}

.minsideBarIconWrapper > .MuiSvgIcon-root {
  color: var(--main-blue);
  font-size: 40px;
  margin-right: 0.2rem;
  align-items: left;
  justify-content: center;
}



.minprofileWrapper {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0px;
  border-radius: 2px;
  position: fixed;
  bottom: 0rem;
  justify-content:space-evenly;
  margin-bottom: -0.2rem;
  margin-left: -0.6rem;
  
}
.minprofileWrapper:hover {
  background-color: rgba(59, 111, 244, 0.28);
  transition: 0.15s;
}


.minprofileWrapper > img {
  max-width: 100%;
  max-height:75%;
  
}
