.sideBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: width 0.3s ease-in-out;
  width: 200px;

  box-shadow: 2px 0 8px -6px #222;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.sideBarWrapperClosed {
  transition:width 0.3s ease-in-out;
  width: 60px;
}
.sideBarLogo {
  display: flex;
  width: 80%;
  height: 0.5rem;
  padding: 6px;
  align-items: space-between;
  align-content: space-between;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

#collapseIcon {
  color: var(--main-blue);
  font-size: 36px;
  align-items: right;
}

.sideBarLogo > .MuiSvgIcon-root {
  color: rgba(59, 111, 244, 0.63);
  font-size: 1rem;
}

.sideBarLogo > .MuiSvgIcon-root:hover {
  font-weight: 900;
}

.sideBarIconWrapper {
  display: flex;
  width: 3rem;
  height: 0.5rem;
  padding: 0px;
  border-radius: 8px;
  align-content: center;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 0.2rem;
  margin-left:1rem;
}

.sideBarIconWrapper:hover {
  background-color: rgba(59, 111, 244, 0.28);
  transition: 0.15s;
}

.sideBarIconWrapper > .MuiSvgIcon-root {
  color: var(--main-blue);
  font-size: 25px;
  margin-right: 0.2rem;
}

.sideBarIconWrapper > p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: black;
}


.profileWrapper {
  display: flex;
  width: 5rem;
  height: 1rem;
  padding: 0px;
  border-radius: 8px;
  position: fixed;
  bottom: 0;
  left:-0.5rem;
  justify-content:space-evenly;
  margin-bottom: 0.4rem;
  
}
.profileWrapper:hover {
  background-color: rgba(59, 111, 244, 0.28);
  transition: 0.15s;
}
.profileWrapper > p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: black;
  margin-left: -1rem;
}
.profileWrapper > .MuiSvgIcon-root {
  color: var(--main-blue);
  font-size: 42px;
  margin-right: 0.4rem;
}

.profileWrapper > img {
  max-width: 50%;
}

