.sideBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 6rem;
  max-width: 6rem;
  min-width: 6rem;
  box-shadow: 2px 0 8px -6px #222;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.sideBarLogo {
  display: flex;
  width: 80%;
  height: 1.2rem;
  padding: 6px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

#collapseIcon {
  color: var(--main-blue);
  font-size: 36px;
}

.sideBarLogo > .MuiSvgIcon-root {
  color: rgba(59, 111, 244, 0.63);
  font-size: 1rem;
}

.sideBarLogo > .MuiSvgIcon-root:hover {
  font-weight: 900;
}

.sideBarIconWrapper {
  display: flex;
  width: 5rem;
  height: 1.2rem;
  padding: 6px;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.4rem;
}

.sideBarIconWrapper:hover {
  background-color: rgba(59, 111, 244, 0.28);
  transition: 0.15s;
}

.sideBarIconWrapper > .MuiSvgIcon-root {
  color: var(--main-blue);
  font-size: 42px;
  margin-right: 0.4rem;
}

.sideBarIconWrapper > p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: black;
}

.profileWrapper {
  position: fixed;
  left: 130px;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 60px;
}

.profileWrapper > img {
  max-width: 100%;
}
