:root {
  --main-font: "Inter";
  --white: #ffffff;
  --black: #000000;
  --main-blue: #3b6ff4;
  --sub-blue: #f5f9ff;
  --dark-blue: #182c62;
  --font-black: #00000;
  --font-grey: #5e5d5d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.01em;
}
